*{
    margin: 0;
}

ul{
    display: flex;
}


ul li:first-child {
    margin-left : 0;
  }

li{
    list-style: none;
    font-size: 1.2rem;
    margin: 0 1rem;
    padding: 0.28rem 0;
    transition: all 0.3s ease-in-out;
}

li:hover{
    text-shadow:  0  0.35rem 0.4rem rgb(184, 225, 225);
    cursor: pointer;
}

nav{
    background-color: black;
    color: beige;
}